.form-container {
  width: 400px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px 0;
  gap: 10px;
}

.form label {
  color: white;
  font-weight: bold;
}

#input-text,
.button-style {
  width: 100%;
  max-width: 300px; /* Ajusta según tus necesidades */
  height: 40px;
  padding: 0 10px;
  font-size: 16px;
  border: none;
  border-radius: 15px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

#input-text {
  color: #333;
  background-color: white;
}

.button-style {
  background-color: rgb(31, 31, 31);
  border: 3px solid rgb(185, 185, 185);
  color: white;
  cursor: pointer;
}

.button-style:hover,
.button-style:focus {
  background-color: rgb(185, 185, 185);
  color: rgb(31, 31, 31);
}

/* @media (max-width: 768px) {
  .form-container {
    width: 60%;
  }
}

@media (max-width: 480px) {
  .form-container {
    width: 60%;
  }
} */
