.winning-overlay iframe {
  border: none;
}

.winning-overlay {
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000; /* Asegúrate de que el modal esté sobre otros elementos */
  padding: 20px; /* Añade un padding para que el contenido no toque los bordes en pantallas pequeñas */
}

.winning-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(31, 31, 31);
  padding: 20px;
  border-radius: 8px; /* Bordes redondeados */
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra del cuadro */
  max-width: 90%; /* Limita el ancho máximo para dispositivos móviles */
}

.winning-content h1,
.winning-content h2 {
  margin: 10px 0;
}

.winning-content iframe {
  max-width: 100%;
  margin-top: 15px;
}

.winning-content button {
  margin: 30px 0 0 0;
  padding: 10px 20px;
  font-size: 16px;
}

/* Media Queries para Responsividad */
@media (max-width: 768px) {
  .winning-content {
    padding: 15px;
  }

  .winning-content iframe {
    width: 100%;
  }

  .winning-content button {
    width: 80%;
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .winning-content button {
    width: 100%;
    font-size: 14px;
    padding: 8px 16px;
  }
}
