.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(31, 31, 31);
  height: 100vh;
  overflow: hidden;
}

.page-header {
  background-color: #1f1f1f;
  width: 100%;
  margin: 0;
  padding: 10px;
  color: white;
  border: solid 1px;
  border-color: white;
  font-size: 24px; /* Ajuste inicial del tamaño de fuente */
}

/* Media Query para pantallas de 768px o menos (tablets y móviles) */
@media (max-width: 768px) {
  .page-header {
    font-size: 20px; /* Reducir tamaño del texto para que se vea bien en pantallas pequeñas */
    padding: 10px;
  }
}

/* Media Query para pantallas de 480px o menos (móviles) */
@media (max-width: 480px) {
  .page-header {
    font-size: 18px; /* Ajustar aún más el tamaño del texto */
    padding: 6px;
  }
}
