.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: rgb(31, 31, 31);
  height: 100vh;
}

.page-header {
  background-color: #1f1f1f;
  width: 100%;
  margin: 0;
  padding: 10px;
  color: white;
  border: solid 1px;
  border-color: white;
}

.difficulty-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 100px;
}

.difficulty-container div {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.difficulty-container h1,
ul {
  color: white;
}

.difficulty-container ul {
  text-align: left;
}

#hard,
#medium,
#easy {
  font-weight: bold;
}

#hard {
  color: red;
}

#medium {
  color: yellow;
}

#easy {
  color: green;
}
